.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  position: relative;
  bottom: 35px;
}
.main-footer {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.main-footer span {
  font-size: 12px;
}
